*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');

@media  only screen and(max) {

    
}


/* Navbar Css */

#navbarSupportedContent{
    margin-left: 420px;
    
}

#navbarSupportedContent ul li{
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
    
}

#navbarSupportedContent ul li:hover{
    background-color: rgb(110, 183, 0);
     color: white;
     font-weight: 700;
     border-radius: 5px;
}

#navbarSupportedContent ul li a:hover{
    background-color: rgb(110, 183, 0);
    color: white;
    font-weight: 700;
    border-radius: 7px;
}



.home-icon{
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 10px;
}

.collapse ul li a{
    margin-left: 0px;
    padding-left: 0px;

}
 
.nav-item{
    display: flex;
}

.horizontalline{
    margin: 0px;
    
}




/* Navbar Css */









/* Header start */



.main-header{
    margin-top: 20px;


}

.header-img{

    width: 550px;
}
 





















 